<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="/js/easyui1.5/jquery.min.js"></script>

    <link rel="stylesheet" href="/bootstrap3/css/bootstrap.css">
    <script src="/bootstrap3/js/bootstrap.js"></script>

    <link rel="stylesheet" href="/bootstrap-table/bootstrap-table.css">
    <script src="/bootstrap-table/bootstrap-table.js"></script>

    <script src="/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>

    <link rel="stylesheet" href="/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <script src="/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="/bootbox/bootbox.all.min.js"></script>
    <script src="/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="/bootstrap-fileinput/js/locales/zh.js"></script>
    <link rel="stylesheet" href="/bootstrap-fileinput/css/fileinput.css">
    <title>Title</title>
</head>

<body>
<div class="container-fluid">
    <form id="ShoukForm" class="form-horizontal">
        <div class="form-group">
            <label for="fhao" class="col-sm-2 control-label">账单房号</label>
            <div class="col-sm-4">
                <span id="fhao"></span>

            </div>
            <label for="fkname" class="col-sm-2 control-label">付款方</label>
            <div class="col-sm-4">
                <span id="fkname"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="zdmoney" class="col-sm-2 control-label">账单金额</label>
            <div class="col-sm-4">
                <span id="zdmoney"></span>
            </div>

            <label for="zdtype" class="col-sm-2 control-label">账单金额</label>
            <div class="col-sm-4">
                <span id="zdtype"></span>
            </div>

        </div>
        <div class="form-group">
        <label for="zdTimelong" class="col-sm-2 control-label">账单时效</label>
        <div class="col-sm-4">
            <span id="zdTimelong"></span>
        </div>
        </div>
        <div class="form-group">
            <label for="daokuantime" class="col-sm-2 control-label">预计付款时间</label>
            <div class="col-sm-10">
                <span id="daokuantime"></span>
            </div>
        </div>
    </form>
</div>
</body>

<script type="text/javascript">

</script>
</html>