<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/js/easyui1.5/jquery.min.js"></script>
    <link rel="stylesheet" href="/js/bootstrap3/css/bootstrap.css">
    <script src="/js/bootstrap3/js/bootstrap.js"></script>

    <link rel="stylesheet" href="/js/bootstrap-table/bootstrap-table.css">
    <script src="/js/bootstrap-table/bootstrap-table.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>

    <link rel="stylesheet" href="/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <script src="/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="/js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

    <script src="/js/bootbox/bootbox.all.min.js"></script>

    <script src="/js/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="/js/bootstrap-fileinput/js/locales/zh.js"></script>
    <link rel="stylesheet" href="/js/bootstrap-fileinput/css/fileinput.css">
    <title>Title</title>
</head>
<body>
<h3>房东信息</h3><br>
<input type="hidden" class="form-control" id="landlordid" name="id">
房东姓名:<input type="text" class="form-control" id="landlordname" name="name" readOnly="true">
联系方式: <input type="text" class="form-control" id="landlordphone" name="phone" readOnly="true">
身份证号码: <input type="text" class="form-control" id="landlordidentity" name="identity" readOnly="true">
紧急联系人:<input type="text" class="form-control" id="landlordurgencyphone" name="urgencyphone" readOnly="true">
联系方式:<input type="text" class="form-control" id="landlordphones" name="phones" readOnly="true">
<h3>房源信息</h3><br>
房源位置:<input type="text" class="form-control" id="landlordurl" name="url" readOnly="true">
房源建筑面积:<input type="text" class="form-control" id="landlordfymji" name="fymji" readOnly="true">
房源户型:<input type="text" class="form-control" id="landlordfyhxing" name="fyhxing" readOnly="true">
房源状况:<input type="text" class="form-control" id="landlordfyzk" name="fyzk" readOnly="true">
<h3>合同信息</h3><br>
合同起止日期:<input type="text" class="form-control" id="landlordstarttime" name="starttime" readOnly="true">至<input type="text" class="form-control" id="landlordendtime" name="endtime" readOnly="true">
租金:<input type="text" class="form-control" id="landlordrent" name="rent" readOnly="true">
押金:<input type="text" class="form-control" id="landlordcash" name="cash" readOnly="true">
装修空置期:<input type="text" class="form-control" id="landlordzxvacancy" name="zxvacancy" readOnly="true">
免租期:<input type="text" class="form-control" id="landlordrentholiday" name="rentholiday" readOnly="true">
房租支付方式:<input type="text" class="form-control" id="landlordfzzhifu" name="fzzhifu" readOnly="true">
<h3>费用结算</h3><br>
水表度数:<input type="text" class="form-control" id="landlordsbiaonumber" name="sbiaonumber" readOnly="true">
电表度数:<input type="text" class="form-control" id="landlorddbiaonumber" name="dbiaonumber" readOnly="true">
气表度数:<input type="text" class="form-control" id="landlordqbiaonumber" name="qbiaonumber" readOnly="true">
物业费:<input type="text" class="form-control" id="landlordpropertyfee" name="propertyfee" readOnly="true">
</body>
</html>