<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/js/easyui1.5/jquery.min.js"></script>
    <link rel="stylesheet" href="/js/bootstrap3/css/bootstrap.css">
    <script src="/js/bootstrap3/js/bootstrap.js"></script>

    <link rel="stylesheet" href="/js/bootstrap-table/bootstrap-table.css">
    <script src="/js/bootstrap-table/bootstrap-table.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>

    <link rel="stylesheet" href="/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <script src="/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="/js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

    <script src="/js/bootbox/bootbox.all.min.js"></script>

    <script src="/js/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="/js/bootstrap-fileinput/js/locales/zh.js"></script>
    <link rel="stylesheet" href="/js/bootstrap-fileinput/css/fileinput.css">
    <title>Title</title>
</head>
<body>
<table id="myTable"></table>
</body>
<script type="text/javascript">
    $(function () {
        inittenant();
    })
   function inittenant(){
       $("#myTable").bootstrapTable({
           url:'/tenant/findtenantlist',
           pagination:true,
           toolbar:"#tool",
           pageList:[2,5,10,20],
           pageNumber:1,
           pageSize:2,
           sidePagination:'server',
           striped:true,
           showColumns: true,                  //是否显示所有的列
           showRefresh: true,
           clickToSelect:true,
           showToggle:true,
           detailView: false,
           queryParams:function(){
               var tenantName=$("#tenantName").val();
               return {
                   page: this.pageNumber,
                   rows: this.pageSize,
                   name:tenantName
               };
           },
           columns:[
               {field:'id',title:'ID'},
               {field:'name',title:'租客姓名'},
               {field:'url',title:'房源地址'},
               {field:'fhao',title:'房号'},
               {field:'starttime',title:'合同开始时间'},
               {field:'endtime',title:'合同结束时间'},
               {field:'status',title:'状态',formatter:function(value,row,index){
                     return  value==1?"正常":value==2?"已过期":value==3?"待完善":value==0?"整租":"";
               }},
               {field:'abc',title:'操作',formatter:function(value,row,index){
                       return  "<a href='javascript:examineparticulars("+row.id+");'>查看详情</a>";
                }},
           ],
       })
   }
   //查看详情
    var res;
    function createAddContent(url){
        $.ajax({
            url:url,
            async:false,
            success:function(data){
                res = data;
            }
        });
        return res;
    }
    //查看详情
    function examineparticulars(id) {
        chakantenant();
        $.ajax({
            url:"/tenant/cktenant",
            type:'post',
            data:{
                id:id
            },
            dataType:'json',
            success:function(data){
                $("#tenantid").val(data.id);
                $("#tenantname").val(data.name);
                $("#tenantphone").val(data.phone);
                $("#tenantidentity").val(data.identity);
                $("#tenanturgencyphone").val(data.urgencyphone);
                $("#tenantphones").val(data.phones);
                $("#tenantfhao").val(data.fhao);
                $("#tenantstarttime").val(data.starttime);
                $("#tenantendtime").val(data.endtime);
            }
        })
    }
    //打开查看详情弹框
    function chakantenant(){
        var url="/page/opentenant";
        bootbox.dialog({
            message:createAddContent(url),
            size:'large',
            buttons:{
                cancel:{
                    label:"收起",
                    className:'btn-danger',
                    callback:function(){
                        console.log("Custom cancel clicked");
                    }
                }
            }
        })
    }
</script>
</html>