<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        .myrow{
            margin-bottom:10px
        }
    </style>
</head>
<body>
<form id="userFrom">
    <input type="hidden" name="id" id="id">
    <div class="row myrow">
        <div class="col-md-2">
            <label for="name">使用人名称</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="col-md-2">
            <label for="account">账号</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="account" name="account">
        </div>
    </div>
    <div class="row myrow">
        <div class="col-md-2">
            <label for="phone">密码</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="phone" name="phone">
        </div>
        <div class="col-md-2">
            <label for="job">职位</label>
        </div>
        <div class="col-md-4">
            <select class="form-control" id="job" name="job">
                <option>董事</option>
                <option>经理</option>
                <option>管家</option>
            </select>
        </div>

    </div>

    <div class="row myrow">
        <div class="col-md-2">
            <label for="createTime">出生日期</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control date" id="createTime" name="createTime">
        </div>


    </div>


</form>
</body>

</html>