.passwordbox-open {
<<<<<<< HEAD
  background: url('images/passwordbox_open.png') no-repeat center center;
}
.passwordbox-close {
  background: url('images/passwordbox_close.png') no-repeat center center;
=======
    background: url('images/passwordbox_open.png') no-repeat center center;
}

.passwordbox-close {
    background: url('images/passwordbox_close.png') no-repeat center center;
>>>>>>> origin/qsy
}
