.validatebox-invalid {
<<<<<<< HEAD
  border-color: #ffa8a8;
  background-color: #fff;
  color: #404040;
=======
    border-color: #ffa8a8;
    background-color: #fff;
    color: #404040;
>>>>>>> origin/qsy
}
